################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/POC_Assessment.slnx/FileContentIndex/633c30e9-92ce-4a9a-808e-e015f82ef1de.vsidx
/.vs/POC_Assessment.slnx/FileContentIndex/b1bffca1-dea5-4aef-b5be-d857ac6cdf0b.vsidx
/.vs/POC_Assessment.slnx/FileContentIndex/4a50a9a7-71d7-4854-8a93-010bb355d2cb.vsidx
